<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timi.timizhuo.mapper.TimiShowMapper" >
  <resultMap id="BaseResultMap" type="com.timi.timizhuo.entity.TimiShow" >
    <id column="show_id" property="showId" jdbcType="VARCHAR" />
    <result column="show_title" property="showTitle" jdbcType="VARCHAR" />
    <result column="show_time" property="showTime" jdbcType="TIMESTAMP" />
    <result column="show_address" property="showAddress" jdbcType="VARCHAR" />
    <result column="show_city" property="showCity" jdbcType="VARCHAR" />
    <result column="show_detail" property="showDetail" jdbcType="VARCHAR" />
    <result column="show_imgs" property="showImgs" jdbcType="VARCHAR" />
    <result column="show_video" property="showVideo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    show_id, show_title, show_time, show_city, show_address, show_detail, show_imgs, show_video,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from timi_show
    where show_id = #{showId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from timi_show
    where show_id = #{showId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.timi.timizhuo.entity.TimiShow" >
    insert into timi_show (show_id, show_title, show_time, 
      show_address, show_detail, show_imgs, 
      show_video, create_time, update_time
      )
    values (#{showId,jdbcType=VARCHAR}, #{showTitle,jdbcType=VARCHAR}, #{showTime,jdbcType=TIMESTAMP}, 
      #{showAddress,jdbcType=VARCHAR}, #{showDetail,jdbcType=VARCHAR}, #{showImgs,jdbcType=VARCHAR}, 
      #{showVideo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.timi.timizhuo.entity.TimiShow" >
    insert into timi_show
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="showId != null" >
        show_id,
      </if>
      <if test="showTitle != null" >
        show_title,
      </if>
      <if test="showTime != null" >
        show_time,
      </if>
      <if test="showAddress != null" >
        show_address,
      </if>
      <if test="showDetail != null" >
        show_detail,
      </if>
      <if test="showImgs != null" >
        show_imgs,
      </if>
      <if test="showVideo != null" >
        show_video,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="showId != null" >
        #{showId,jdbcType=VARCHAR},
      </if>
      <if test="showTitle != null" >
        #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="showTime != null" >
        #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showAddress != null" >
        #{showAddress,jdbcType=VARCHAR},
      </if>
      <if test="showDetail != null" >
        #{showDetail,jdbcType=VARCHAR},
      </if>
      <if test="showImgs != null" >
        #{showImgs,jdbcType=VARCHAR},
      </if>
      <if test="showVideo != null" >
        #{showVideo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.timi.timizhuo.entity.TimiShow" >
    update timi_show
    <set >
      <if test="showTitle != null" >
        show_title = #{showTitle,jdbcType=VARCHAR},
      </if>
      <if test="showTime != null" >
        show_time = #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showAddress != null" >
        show_address = #{showAddress,jdbcType=VARCHAR},
      </if>
      <if test="showDetail != null" >
        show_detail = #{showDetail,jdbcType=VARCHAR},
      </if>
      <if test="showImgs != null" >
        show_imgs = #{showImgs,jdbcType=VARCHAR},
      </if>
      <if test="showVideo != null" >
        show_video = #{showVideo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where show_id = #{showId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.timi.timizhuo.entity.TimiShow" >
    update timi_show
    set show_title = #{showTitle,jdbcType=VARCHAR},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      show_address = #{showAddress,jdbcType=VARCHAR},
      show_detail = #{showDetail,jdbcType=VARCHAR},
      show_imgs = #{showImgs,jdbcType=VARCHAR},
      show_video = #{showVideo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where show_id = #{showId,jdbcType=VARCHAR}
  </update>

  <select id="findAll" resultMap="BaseResultMap" >
    (select <include refid="Base_Column_List" /> from timi_show WHERE show_time > now() order by show_time)
    UNION
    (select <include refid="Base_Column_List" /> from timi_show WHERE show_time <![CDATA[ < ]]> now() order by show_time desc)
  </select>
</mapper>