<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timi.timizhuo.mapper.TimiReplyMapper">
  <resultMap id="BaseResultMap" type="com.timi.timizhuo.entity.TimiReply">
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_image_url" jdbcType="VARCHAR" property="userImageUrl" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="tier_num" jdbcType="INTEGER" property="tierNum" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="forum_id" jdbcType="VARCHAR" property="forumId" />
    <result column="like_count" jdbcType="BIGINT" property="likeCount" />
    <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
    <result column="reply_type" jdbcType="INTEGER" property="replyType" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
  </resultMap>

  <sql id="Base_Column_List">
    t.id, t.reply_content,t.user_name,t.user_image_url, t.user_id, t.tier_num, t.reply_time, t.create_time, t.update_time,
    t.parent_id, t.forum_id, t.like_count,t.reply_num,t.reply_type,parent_name
  </sql>

  <sql id="Blob_Column_List">
    <where>
      <if test="forumId != null and forumId ! = '' ">
        t.forum_id = #{forumId,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <update id="updateReplyNum" parameterType="com.timi.timizhuo.entity.TimiReply" >
    update timi_reply
    set reply_num = #{replyNum,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--根据条件查询-->
  <select id="findByCondition" parameterType="com.timi.timizhuo.entity.TimiReply" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from timi_reply t
    <include refid="Blob_Column_List" />
  </select>
  <!--根据条件查询且类型为主贴-->
  <select id="findByForumId" parameterType="String" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from timi_reply t
    where t.forum_id =#{forumId} and reply_type=1
    order by reply_time
  </select>

  <select id="findByParentId" resultType="com.timi.timizhuo.entity.TimiReply">
    select  <include refid="Base_Column_List" />
    from timi_reply t
    where t.parent_id =#{parentId}
    or t.parent_id in (select id from timi_reply where parent_id =#{parentId})
    order by reply_time
  </select>

</mapper>